    .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .message {
    margin-bottom: 10px;
  }
  
  .chat-modal-container {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .chat-history {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px;
  }
  textarea {
    width: 100%;
    height: 80px;
    resize: none;
  }

  